@import url('styles/fonts.css');
@import url('styles/category.css');

body {
  margin: 0px;
  padding: 0px;
  background-color: #e4e0d6;
}

.App {
  margin: 0px;
  padding: 0px;
  font-family: Supermolot, sans-serif;
  text-align: center;
  background-color: #e4e0d6;
}

